<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="icon" href="{% static 'icon/wish.webp' %}" type="image/x-icon">


    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <form 
        action=""
        method="post"
        enctype="multipart/form-data"
        >
        {% csrf_token %}
       
        
        <div>
            <label for="name">Item Name</label>
            <input type="text" name="name" id="name" value="{{item.name}}" required>
        </div>
       

        <div>
            <label for="description">Description</label>
            <textarea name="description" id="description">{{item.description}}</textarea>
        </div>

        <div>
            <label for="image">Image</label>
            <input 
                name="image" 
                type="file" 
                accept="image/*" 
                id="image" 
                value="{{item.image.url}}"
                style="display: none;"
                >
        </div>

      
        
        <button type="submit">Add</button>
    </form>

   
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <p>error: {{message}}</p>

    {% else %}
    <p>success: {{message}} </p>
    {%endif%}

    {% endfor %}
</body>
</html>