<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Wish| home</title>

    <link rel="icon" href="{% static 'icon/wish.webp' %}" type="image/x-icon">


    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
   {% include 'navbar.html' %}
   {% if not user.is_authenticated %}
   <h1>Welcome to Christmas wishes</h1>
   {% else %}
   <h1>Welcome {{user.username|capfirst}}</h1>
   <h2> {{user.username|capfirst}}'s Wishes</h2>
   <p>{{user.is_staff}} {{user.is_superuser}} </p>
   {% endif %}

   
  {% include 'wishlist.html' %}
</body>
</html>