<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.username}}'s Wishes</title>
    <link rel="icon" href="{% static 'icon/wish.webp' %}" type="image/x-icon">


    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
   {% include 'navbar.html' %}
   <h1>Welcome to Christmas wishes</h1>

   <h2> {{user.username|capfirst}}'s Wishes</h2>
   <p style="font-size: larger;">This contains a list of things {{user.username|capfirst}} Wishes to get for this festive period</p>

   
  {% include 'wishlist.html' %}
</body>
</html>