<div>
    {% for wish in wishes%}
    <div class="wishbox">
        {% if wish.image %}
        <img src="{{wish.image.url}}" alt="{{wish.image}}">
        {% endif %}
        <div class="details">
            <div>
                <h3 >
                    {{wish.name}}
                </h3>
        
                <p>{{wish.description}}</p>
        
            </div>
           
    
            {% if wish.user == request.user %}
            <div class="update">
                <a href="{% url 'edit' wish.id %}" style="color: rgb(0, 48, 0);">edit</a>
    
                <a href="{% url 'delete' wish.id %}" style="color: red;">delete</a>
    
            </div>
            {% endif %}
        </div>
       
        
        </div>
        {% endfor %}
       
    </div>

    {% if request.user == user and user.is_authenticated %}
    <p>Copy the link below and share for others to see your wish list</p>
    <p id="copyMessage" style="color: green; display: none;">Text copied!</p>
    <div class="copy">
        <p id="textToCopy">
            {{link}}{{user.username}}    
        </p>
        <button onclick="copyText()">Copy</button>
       
    </div>

   
   
    <p id="copyMessage" style="color: green; display: none;">Text copied!</p>
    {% else %}
    <p style="font-size: larger;">
        <a href="{% url 'signup' %}">Join</a>
        and list your own christmas wishes
    </p>
    {%endif %}

    <script>
        function copyText() {
            
            const textElement = document.getElementById('textToCopy');
            const text = textElement.textContent || textElement.innerText;

            navigator.clipboard.writeText(text).then(() => {
               
                const message = document.getElementById('copyMessage');
                message.style.display = 'block';

                
                setTimeout(() => {
                    message.style.display = 'none';
                }, 5000);
            }).catch(err => {
                console.error('Failed to copy text: ', err);
            });
        }
    </script>